body{
	font-family: 'Bungee', cursive;
	background-image: url("https://cdn.vox-cdn.com/thumbor/t2IrVz2ZQZVznQyAeWUhWr6Mgok=/0x0:1752x820/1200x675/filters:focal(736x270:1016x550)/cdn.vox-cdn.com/uploads/chorus_image/image/57034883/mario_luigi_rpg.0.jpg");
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.border{
	border-style: solid;
	border-color: black;
	color: black;
	opacity: 0.8;
}

.border-middle{
	border-width: 1px 0;
}

.head-img{
	height: 100%;
	width: 30%;
}

.dropzone{
	border-style: dashed;
	border-color: black;
	border-width: 4px;
	color: black;
	font-size: 1.5em;
	margin-bottom: 12px;
	background-color: #43b0e2;
}

.box{
	border-style: solid;
	text-align: center;
	background-color: #43b0e2;
	border-color: #43b0e2;
}

.mario{
	background-color: #d91818;
	border-color: #ce2218;
}

.mario-holder{
	width: 50%;
	float: left;
}

.luigi{
	background-color: #279d3d;
	border-color: #2e9f3c;
}

.luigi-holder{
	width: 50%;
	float: left;
}

.coffee-holder{
	float: left;
	width: 50%;
}

.beans-holder{
	float: left;
	width: 50%;
}

.jeans-holder{
	float: left;
	width: 50%;
}

.badges-holder{
	float: left;
	width: 50%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10px;
	right:20px;
	border-radius:50%;
	text-align:center;
}

.float:hover{
	background-color:#ce2218;	
}

.clear{
	clear: both;
}

.hide{
	display: hide;
}

.black-text{
	color: black;
}

.green-bg{
	background-color: #2e9f3c;
}

.blue-bg{
	background-color: #43b0e2;
}

.separator{
	margin-bottom: 10px;
}